html {
    --right-col-spacing: 50px;
}

body {
    background: #eee;
    display: flex;
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
}

body > div {
    flex: auto;
    height: 100vh;
    overflow-y: auto;
}

h1 {
    display: block;
    font-family: 'Mooli', sans-serif;
    font-size: 4em;
    line-height: 3em;
    margin: 0;
}

h2 {
    margin: 125px var(--right-col-spacing) 50px;
    max-width: 700px;
}

a, a:hover, a:visited {
    color: #3A584F;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

#colLeft {
    background-image: url(images/pexels-mathias-reding-5711193\ .jpg);
    background-position: top center;
    background-size: cover;
    flex: 1 1 30%;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

#logo {
    background-color: #000;
    color: #fff;
    flex: 0 0 auto;
    margin: 63% auto auto;
    opacity: .5;
    text-align: center;
    width: 100%;
}

#logo:has(> a:hover) {
    opacity: 0.7;
}

#logo a, #logo a:hover, #logo a:visited {
    color: #fff;
    display: block;
    height: 100%;
    text-decoration: none;
}

#colLeft p {
    color: #fff;
    flex: 0 0 auto;
    margin: 15px auto;
    opacity: .7;
    padding: 0 15px;
    text-align: center;
}

#colLeft p a {
    color: #fff;
}

#colRight {
    flex: 2 1 70%;
}

input, label {
    display: block;
}

form section {
    background: #fff;
    box-shadow: 0 10px 10px hsl(0, 0%, 75%);
    padding: var(--right-col-spacing);
}

.input {
    flex: 1 1 34%;
    position: relative;
}

input {
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    min-width: 160px;
    padding: 5px;
    width: calc(100% - 12px);
}

input:focus {
    border: 1px solid #3A584F;
    box-shadow: 0 0 10px hsl(0, 0%, 75%);
    outline: none;
}

.invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid #379137;
}

.error {
    display: none;
    font-size: 0.75em;
    line-height: 1.5em;
    margin-top: 1px;
    position: absolute;
    width: inherit;
}

.input:has(> input:focus) > .error {
    display: initial;
}

fieldset {
    border: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 700px;
    padding: 0;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 35px;
}

#createAccount-submit {
    background: #3A584F;
    border: 0;
    border-radius: 10px;
    color: #fff;
    margin: var(--right-col-spacing) 0 5px var(--right-col-spacing);
    padding: 10px 20px;
}

p {
    margin-left: var(--right-col-spacing);
}

@media screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }
    
    body > div {
        height: auto;
    }
    
    #colLeft {
        background-position: top center;
        flex: 0 1 auto;
    }

    #logo {
        background: none;
        margin: 0;
        opacity: .7;
    }

    h2 {
        margin-top: 50px;
    }
  }